@namespace JournalApp.Tests
@inherits JaTestContext

@code {
    public override async Task InitializeAsync()
    {
        await base.InitializeAsync();

        AddDbContext();
        Services.GetService<AppDbSeeder>().SeedCategories();
    }

    [Fact]
    public async Task CanSwitchDays()
    {
        var layout = Render(
    @<MainLayout>
        <Body>
            <Index />
        </Body>
    </MainLayout>
    );

        var nowDayNumber = DateOnly.FromDateTime(DateTime.Now).DayNumber;
        var selectedDayNumber = () => int.Parse(layout.Find(".switcher").GetAttribute("data-current-day"));

        selectedDayNumber().Should().Be(nowDayNumber);

        await layout.Find(".day-switcher-back").ClickAsync();
        selectedDayNumber().Should().Be(nowDayNumber - 1);

        await layout.Find(".day-switcher-forward").ClickAsync();
        selectedDayNumber().Should().Be(nowDayNumber);
    }

    [Fact]
    public async Task CannotGoPastTomorrow()
    {
        var layout = Render(
    @<MainLayout>
        <Body>
            <Index />
        </Body>
    </MainLayout>
        );

        var nowDayNumber = DateOnly.FromDateTime(DateTime.Now).DayNumber;
        var selectedDayNumber = () => int.Parse(layout.Find(".switcher").GetAttribute("data-current-day"));

        // We can go to tomorrow.
        layout.Find(".day-switcher-forward").HasAttribute("disabled").Should().BeFalse();
        await layout.Find(".day-switcher-forward").ClickAsync();
        selectedDayNumber().Should().Be(nowDayNumber + 1);

        // We cannot go past tomorrow
        layout.Find(".day-switcher-forward").HasAttribute("disabled").Should().BeTrue();
        await layout.Find(".day-switcher-forward").ClickAsync();
        selectedDayNumber().Should().Be(nowDayNumber + 1);
    }

    [Fact]
    public async Task DataIsSavedWhileSwitchingDays()
    {
        var dbf = Services.GetService<IDbContextFactory<AppDbContext>>();
        const string weightCategoryGuid = "480dc07d-1330-486f-9b30-ec83a3d4e6f0";
        var weightGuid = new Guid(weightCategoryGuid);

        var layout = Render(
    @<MainLayout>
        <Body>
            <Index />
        </Body>
    </MainLayout>
    );

        var selectedDayNumber = () => int.Parse(layout.Find(".switcher").GetAttribute("data-current-day"));
        var originalDayNumber = selectedDayNumber();
        var weightInput = () => layout.Find($".data-point-container[data-category-guid=\"{weightCategoryGuid}\"] .data-point-view input");

        // Change the value so we can test if it is saved. -1 will never be chosen randomly.
        weightInput().Input("-1");
        weightInput().GetAttribute("value").Should().Be("-1");

        // Go back to trigger save of current day state.
        await layout.Find(".day-switcher-back").ClickAsync();
        layout.WaitForAssertion(() => selectedDayNumber().Should().Be(originalDayNumber - 1));
        layout.WaitForAssertion(() => weightInput().GetAttribute("value").Should().NotBe("-1"));

        // Validate persistence in a fresh db context, not just the currently tracked entity.
        using (var db = dbf.CreateDbContext())
        {
            var originalDay = db.Days.Single(d => d.Date.DayNumber == originalDayNumber);
            var weightPoint = db.Points.Single(p => p.Day.Guid == originalDay.Guid && p.Category.Guid == weightGuid);
            weightPoint.Number.Should().Be(-1);
        }

        // Return to original day and ensure UI reflects saved value.
        await layout.Find(".day-switcher-forward").ClickAsync();
        layout.WaitForAssertion(() => selectedDayNumber().Should().Be(originalDayNumber));

        // Assert that the weight is back to it's changed value from the original day.
        layout.WaitForAssertion(() => weightInput().GetAttribute("value").Should().Be("-1"));
    }

    [Theory]
    [Description("Checks if the notes group is visible depending on the user's preference")]
    [InlineData(true)]
    [InlineData(false)]
    public void HideTodaysNotes(bool hideNotes)
    {
        var preferences = Services.GetService<PreferenceService>();
        preferences.HideNotes = hideNotes;

        var layout = Render(
    @<MainLayout>
        <Body>
            <Index />
        </Body>
    </MainLayout>
        );

        layout.FindAll(".data-point-group").Count.Should().Be(hideNotes ? 2 : 3);
    }
}
