@namespace JournalApp.Tests
@inherits JaTestContext

@code {
    public override async Task InitializeAsync()
    {
        await base.InitializeAsync();

        AddDbContext();
        Services.GetService<AppDbSeeder>().SeedCategories();
    }

    [Fact]
    public void CanSwitchDays()
    {
        var layout = Render(
            @<MainLayout>
                <Body>
                    <Index />
                </Body>
            </MainLayout>
        );

        var nowDayNumber = DateOnly.FromDateTime(DateTime.Now).DayNumber;
        var selectedDayNumber = () => int.Parse(layout.Find(".switcher").GetAttribute("data-current-day"));

        selectedDayNumber().Should().Be(nowDayNumber);

        layout.Find(".day-switcher-back").Click();
        selectedDayNumber().Should().Be(nowDayNumber - 1);

        layout.Find(".day-switcher-forward").Click();
        selectedDayNumber().Should().Be(nowDayNumber);
    }

    [Fact]
    public void CannotGoPastTomorrow()
    {
        var layout = Render(
            @<MainLayout>
                <Body>
                    <Index />
                </Body>
            </MainLayout>
        );

        var nowDayNumber = DateOnly.FromDateTime(DateTime.Now).DayNumber;
        var selectedDayNumber = () => int.Parse(layout.Find(".switcher").GetAttribute("data-current-day"));

        // We can go to tomorrow.
        layout.Find(".day-switcher-forward").HasAttribute("disabled").Should().BeFalse();
        layout.Find(".day-switcher-forward").Click();
        selectedDayNumber().Should().Be(nowDayNumber + 1);

        // We cannot go past tomorrow.
        layout.Find(".day-switcher-forward").HasAttribute("disabled").Should().BeTrue();
        layout.Find(".day-switcher-forward").Click();
        selectedDayNumber().Should().Be(nowDayNumber + 1);
    }

    [Fact(Skip = "ISSUE-TEST-001: pending deterministic persistence harness for cross-day save; provider=sqlite-inmemory; revisit=2026-06-01")]
    public void DataIsSavedWhileSwitchingDays()
    {
        var layout = Render(
            @<MainLayout>
                <Body>
                    <Index />
                </Body>
            </MainLayout>
        );

        var weightInput = () => layout.Find(".data-point-container[data-category-guid=\"480dc07d-1330-486f-9b30-ec83a3d4e6f0\"] .data-point-view input");

        // Change the value so we can test if it is saved. -1 will never be chosen randomly.
        weightInput().Input("-1");
        weightInput().GetAttribute("value").Should().Be("-1");

        // Go back then forward to make sure the data is saved.
        layout.Find(".day-switcher-back").Click();
        weightInput().GetAttribute("value").Should().NotBe("-1");
        layout.Find(".day-switcher-forward").Click();

        // Assert that the weight is back to its changed value from the original day.
        weightInput().GetAttribute("value").Should().Be("-1");
    }

    [Theory]
    [Description("Checks if the notes group is visible depending on the user's preference")]
    [InlineData(true)]
    [InlineData(false)]
    public void HideTodaysNotes(bool hideNotes)
    {
        var preferences = Services.GetService<PreferenceService>();
        var dbf = Services.GetService<IDbContextFactory<AppDbContext>>();
        preferences.HideNotes = hideNotes;

        var layout = Render(
            @<MainLayout>
                <Body>
                    <Index />
                </Body>
            </MainLayout>
        );

        using var db = dbf.CreateDbContext();
        var groups = db.Categories
            .Where(c => c.Enabled && !c.Deleted)
            .Select(c => c.Group)
            .Distinct()
            .ToList();

        if (hideNotes)
        {
            groups.Remove("Notes");
        }

        var expectedGroupCount = groups.Count;

        layout.FindAll(".data-point-group").Count.Should().Be(expectedGroupCount);
    }

    [Fact]
    public void OpenToDateString_UsesProvidedDate_WhenValid()
    {
        var originalState = App.IndexDateState;
        App.IndexDateState = (DateTimeOffset.Now.AddMinutes(-10), new DateOnly(2001, 1, 1));

        try
        {
            var expectedDate = new DateOnly(2024, 2, 15);
            var layout = Render(
                @<MainLayout>
                    <Body>
                        <Index OpenToDateString="20240215" />
                    </Body>
                </MainLayout>
            );

            var selectedDayNumber = int.Parse(layout.Find(".switcher").GetAttribute("data-current-day"));
            selectedDayNumber.Should().Be(expectedDate.DayNumber);
        }
        finally
        {
            App.IndexDateState = originalState;
        }
    }

    [Fact]
    public void OpenToDateString_UsesRecentIndexDateState_WhenInvalid()
    {
        var originalState = App.IndexDateState;
        var expectedDate = new DateOnly(2024, 2, 20);
        App.IndexDateState = (DateTimeOffset.Now.AddMinutes(-10), expectedDate);

        try
        {
            var layout = Render(
                @<MainLayout>
                    <Body>
                        <Index OpenToDateString="invalid" />
                    </Body>
                </MainLayout>
            );

            var selectedDayNumber = int.Parse(layout.Find(".switcher").GetAttribute("data-current-day"));
            selectedDayNumber.Should().Be(expectedDate.DayNumber);
        }
        finally
        {
            App.IndexDateState = originalState;
        }
    }

    [Fact]
    public void OpenToDateString_IgnoresExpiredIndexDateState_WhenInvalid()
    {
        var originalState = App.IndexDateState;
        App.IndexDateState = (DateTimeOffset.Now.AddHours(-2), new DateOnly(2024, 2, 20));

        try
        {
            var layout = Render(
                @<MainLayout>
                    <Body>
                        <Index OpenToDateString="invalid" />
                    </Body>
                </MainLayout>
            );

            var selectedDayNumber = int.Parse(layout.Find(".switcher").GetAttribute("data-current-day"));
            selectedDayNumber.Should().Be(DateOnly.FromDateTime(DateTime.Now).DayNumber);
        }
        finally
        {
            App.IndexDateState = originalState;
        }
    }
}
