@namespace JournalApp
@inherits LayoutComponentBase
@implements IDisposable
@inject ILogger<MainLayout> logger
@inject KeyEventService KeyEventService
@inject NavigationManager NavigationManager
@inject PreferenceService PreferenceService

<MudThemeProvider Theme="_theme" IsDarkMode="PreferenceService.IsDarkMode" DefaultScrollbar />

<MudPopoverProvider />

<MudDialogProvider MaxWidth="MaxWidth.Small"
                   FullWidth="true"
                   NoHeader="false"
                   CloseButton="false"
                   CloseOnEscapeKey="false"
                   Position="DialogPosition.Center" />

<MudSnackbarProvider />

<div class="page">
    @Body
</div>

@code {
    bool _hasInitiallyRendered;

    MudTheme _theme = new()
    {
        PaletteLight = new PaletteLight()
        {
            // https://materialkolor.com/?color_seed=FFA0648C
            Primary = "#854C73",
            TextPrimary = "#3A2F36",
            Secondary = "#715867",
            TextSecondary = "#FFF7F8",
            AppbarText = "#FFF7F8",

            Info = "#6C567F",
            Background = "#FEF0F6",
            Surface = "#FAEAF0",

            HoverOpacity = 0.1,
        },

        PaletteDark = new PaletteDark()
        {
            // https://materialkolor.com/?color_seed=FFA0648C
            Primary = "#F7B1DE",
            TextPrimary = "#DECCD4",
            Secondary = "#DDBECF",
            TextSecondary = "#D6B7C8",
            AppbarText = "#622E53",

            Info = "#F2DEFF",
            Background = "#1F171C",
            Surface = "#120D10",
            PrimaryContrastText = "#DECCD4",

            HoverOpacity = 0.1,
        },

        LayoutProperties = new()
        {
            DefaultBorderRadius = "2.0em",
        },

        Typography = new()
        {
            Button = new ButtonTypography()
            {
                TextTransform = "none",
            },

            Caption = new CaptionTypography()
            {
                LineHeight = "1",
            },
        },
    };

    protected override void OnInitialized()
    {
        logger.LogDebug("Initializing");
        base.OnInitialized();

        PreferenceService.ThemeChanged += OnThemeChanged;
        App.NewIntent += OnNewIntent;

        if (App.Window is not null) // Not available in tests.
        {
            App.Window.Destroying += (_, _) => Dispose();
        }

        // All pages have been reloaded so we should clear any leftover subscriptions.
        KeyEventService.ResetStack();

        // Start import.
        if (App.ActivatedFilePath != null)
        {
            logger.LogDebug($"Activated by file <{App.ActivatedFilePath}>");
            NavigationManager.NavigateTo($"/settings", false, true);
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _hasInitiallyRendered = true;
        }
    }

    public void OnThemeChanged(object sender, bool isDarkMode)
    {
        if (_hasInitiallyRendered)
            StateHasChanged();
    }

    void OnNewIntent(object sender, EventArgs e)
    {
        logger.LogDebug("New intent");
        NavigationManager.NavigateTo($"/settings", true, true);
    }

    public void Dispose()
    {
        PreferenceService.ThemeChanged -= OnThemeChanged;
        App.NewIntent -= OnNewIntent;
    }
}
