@namespace JournalApp
@inherits LayoutComponentBase
@implements IDisposable
@inject ILogger<MainLayout> logger
@inject KeyEventService KeyEventService
@inject NavigationManager NavigationManager
@inject PreferenceService PreferenceService

<MudThemeProvider Theme="_theme" IsDarkMode="PreferenceService.IsDarkMode" DefaultScrollbar />

<MudDialogProvider MaxWidth="MaxWidth.Small"
                   FullWidth="true"
                   NoHeader="false"
                   CloseButton="false"
                   CloseOnEscapeKey="false"
                   Position="DialogPosition.Center" />

<MudSnackbarProvider />

<div class="page">
    @Body
</div>

@code {
    bool _hasInitiallyRendered;

    MudTheme _theme = new()
        {
            Palette = new PaletteLight()
            {
                Primary = "#776be7",
                PrimaryLighten = "#978dec",
                Info = "#776be7",
                AppbarText = "#ffffffe6",
                Background = "#f7f6fb",
                TextDisabled = "#424242",
                HoverOpacity = 0.1,
            },

            PaletteDark = new PaletteDark()
            {
                Primary = "#776be7",
                Info = "#776be7",
                AppbarText = "#ffffffe6",
                TextPrimary = "#ffffffcc",
                TextSecondary = "#ffffff99",
                TextDisabled = "#ffffffb2",
                HoverOpacity = 0.1,
            },

            LayoutProperties = new()
            {
                AppbarHeight = "4em",
                DefaultBorderRadius = "0.25em",
            },

            Typography = new()
            {
                Button = new()
                {
                    TextTransform = "none",
                },
            },
        };

    protected override void OnInitialized()
    {
        logger.LogDebug("Initializing");
        base.OnInitialized();

        PreferenceService.ThemeChanged += OnThemeChanged;
        App.NewIntent += OnNewIntent;

        if (App.Window is not null) // Not available in tests.
            App.Window.Destroying += (_, _) => Dispose();

        // All pages have been reloaded so we should clear any leftover subscriptions.
        KeyEventService.ResetStack();

        // Start import.
        if (App.ActivatedFilePath != null)
        {
            logger.LogDebug($"Activated by file <{App.ActivatedFilePath}>");
            NavigationManager.NavigateTo($"/settings", false, true);
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _hasInitiallyRendered = true;
        }
    }

    public void OnThemeChanged(object sender, bool isDarkMode)
    {
        if (_hasInitiallyRendered)
            StateHasChanged();
    }

    void OnNewIntent(object sender, EventArgs e)
    {
        logger.LogDebug("New intent");
        NavigationManager.NavigateTo($"/settings", true, true);
    }

    public void Dispose()
    {
        PreferenceService.ThemeChanged -= OnThemeChanged;
        App.NewIntent -= OnNewIntent;
    }
}
