.manage-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.1em;
}

::deep .manage-category-edit-button {
  justify-content: start !important;
  flex-grow: 1;
  word-wrap: anywhere;
  overflow-x: clip;
}
