.manage-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

::deep .manage-category-edit-button {
  justify-content: start !important;
  text-align: start;
  flex-grow: 1;
  word-wrap: anywhere;
  overflow-x: clip;
}

::deep .manage-category-enabled-switch {
  margin-right: -2px;
}

::deep .mud-paper {
  padding: 12px;
}
