.settings-group-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

::deep .settings-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  padding: 12px;
}
