@namespace JournalApp.Worksheets
@inject IDialogService DialogService
@inject IScrollManager ScrollManager
@inject KeycodeService KeycodeService

<MudDialog DefaultFocus="DefaultFocus.None">
	<TitleContent>
		<div class="page-header">
			<MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="Submit" />

			<MudText Typo="Typo.h6">Worksheets</MudText>
		</div>
	</TitleContent>

	<DialogContent>
		<div class="worksheet-group-list">
			<div class="worksheet-group">
				<MudText Typo="Typo.h4">Table of Contents</MudText>

				<div class="worksheet-group-toc">
					@foreach (var group in WorksheetGroups)
					{
						@if (!string.IsNullOrEmpty(group.Key))
						{
							<div class="worksheet-group-toc-item">
								<MudLink OnClick="async () => await GoToGroup(MarkupUtil.ToClassName(group.Key))">• @group.Key</MudLink>
								</div>
						}
					}
				</div>
			</div>

			@foreach (var group in WorksheetGroups)
			{
				<div class="worksheet-group" id="worksheet-group-key-@(MarkupUtil.ToClassName(group.Key))">
					@if (!string.IsNullOrEmpty(group.Key))
					{
						<MudText Typo="Typo.h4">@group.Key</MudText>
					}

					<div class="worksheet-group-items">
						@foreach (var ws in group)
						{
							<MudDivider />

							<WorksheetView Worksheet="ws" />
						}
					</div>
				</div>
			}
		</div>
	</DialogContent>
</MudDialog>

@code {
	[CascadingParameter] MudDialogInstance MudDialog { get; set; }

	public IEnumerable<IGrouping<string, Worksheet>> WorksheetGroups => WorksheetData.AllWorksheets.GroupBy(x => x.Category);

	protected override void OnInitialized()
	{
		base.OnInitialized();

		KeycodeService.SubscribeOnceToBackButtonPressed(() => Submit());
	}

	void Submit()
	{
		MudDialog.Close(DialogResult.Ok(true));
	}

	async Task GoToGroup(string key)
	{
		await ScrollManager.ScrollIntoViewAsync($"#worksheet-group-key-{key}", ScrollBehavior.Smooth);
	}
}