* {
  -webkit-tap-highlight-color: transparent;
}

body {
  user-select: none;
}

  body::-webkit-scrollbar {
    display: none;
  }

#splash-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAEAF0;
  position: fixed;
  width: 100%;
  height: 100%
}

@media (prefers-color-scheme: dark) {
  #splash-screen {
    background-color: #1F171C;
  }
}

#loading-text {
  font-family: sans-serif;
  font-size: 6vw;
  color: white;
}

.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--mud-elevation-4);
}

.switcher-header {
  display: flex;
  justify-content: center;
  width: 55vw;
}

.page {
}

.page-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  padding: 0;
  box-shadow: none;
  min-height: calc(var(--mud-appbar-height) - var(--mud-appbar-height) / 4);
  background-color: var(--mud-palette-primary);
  color: var(--mud-palette-appbar-text);
  --mud-palette-action-default: var(--mud-palette-appbar-text);
}

  .page-toolbar * {
    color: inherit;
  }

h1, h2, h3, h4, h5, h6 {
  color: var(--mud-palette-text-primary);
}

.page-header {
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  margin: 0 !important;
  top: 0 !important;
  position: sticky !important;
  background-color: var(--mud-palette-surface);
  color: #DECCD4;
}

.page-body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto !important;
  padding: 0.5em !important;
  padding-bottom: 15vh !important;
}

.mud-dialog-width-full {
  width: calc(100% - 1em) !important;
}

.mud-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.mud-input-text {
  margin-top: 0 !important;
}

.mud-input-control {
  margin-top: 0 !important;
}

.mud-input-control-input-container:has(.mud-input-label) {
  margin-top: 1em !important;
}

.mud-input-label-inputcontrol {
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(0, -0.75em) scale(0.75) !important;
}

.mud-input > textarea.mud-input-root-outlined {
  margin: 0.75em !important;
}

.mud-input.mud-input-outlined .mud-input-outlined-border {
  border-radius: calc(var(--mud-default-borderradius) / 2);
}

.mud-radio {
  margin: 0 !important;
  margin-inline: 0 !important;
}

.mud-toggle-group {
  flex-grow: 1;
}

.mud-button-filled.mud-button-filled-primary {
  color: var(--mud-palette-appbar-text);
}

.mud-dialog, .mud-card {
  padding: 0.75em !important;
  gap: 0.75em !important;
}

.mud-dialog-title, .mud-card-header {
  padding: 0 !important;
  padding-top: 0.5em !important;
}

.mud-dialog-content, .mud-card-content {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
}

.mud-dialog-actions, .mud-card-actions {
  padding: 0 !important;
}

#blazor-error-ui {
  background: darkorange;
  bottom: 0;
  display: none;
  left: 0;
  padding: 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.status-bar-safe-area {
  display: none;
}

@supports (-webkit-touch-callout: none) {
  .status-bar-safe-area {
    display: flex;
    position: sticky;
    top: 0;
    height: env(safe-area-inset-top);
    width: 100%;
    z-index: 1;
  }

  .flex-column, .navbar-brand {
    padding-left: env(safe-area-inset-left);
  }
}

@media (prefers-color-scheme: dark) {
  .status-bar-safe-area {
    background-color: #120D10;
  }
}

@media (prefers-color-scheme: light) {
  .status-bar-safe-area {
    background-color: #FFF8F9;
  }
}
