@namespace JournalApp
@inject ILogger<EditTextDialog> logger
@inject IDialogService DialogService
@inject KeycodeService KeycodeService

<MudDialog DefaultFocus="DefaultFocus.FirstChild" OnBackdropClick="Submit">
	<TitleContent>
		<div class="page-header">
			<MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="Cancel" />

			<MudText Typo="Typo.h6">@Point.CreatedAt.ToString("MMM d h:mm tt")</MudText>

			<MudSpacer />

			<MudIconButton Icon="@Icons.Material.Filled.Check" OnClick="Submit" />
		</div>
	</TitleContent>

	<DialogContent>
		<MudTextField @bind-Value="Text" Lines="12" DisableUnderLine />
	</DialogContent>
</MudDialog>

@code {
	DataPoint _point;

	[CascadingParameter] MudDialogInstance MudDialog { get; set; }

	[Parameter]
	public DataPoint Point
	{
		get => _point;
		set
		{
			_point = value;
			Text = value?.Text;
		}
	}

	public string Text { get; set; }

	protected override void OnInitialized()
	{
		base.OnInitialized();

		KeycodeService.SubscribeOnceToBackButtonPressed(() => Cancel());
	}

	void Cancel()
	{
		MudDialog.Close(DialogResult.Cancel());
	}

	void Submit()
	{
		Point.Text = Text;

		if (string.IsNullOrWhiteSpace(Text))
		{
			logger.LogInformation("Discarding point with empty text");
			Point.Deleted = true;
		}

		MudDialog.Close(DialogResult.Ok(true));
	}

	public static async Task<bool> ShowDialog(IDialogService dialogService, DataPoint point)
	{
		var parameters = new DialogParameters<EditTextDialog> { { x => x.Point, point } };
		var options = new DialogOptions { FullWidth = true, };

		var result = await dialogService.Show<EditTextDialog>(parameters, options).Result;

		return !result.Canceled;
	}
}