@namespace JournalApp
@inject ILogger<EditTextDialog> logger
@inject IDialogService DialogService
@inject PageService PageService

<MudDialog>
	<DialogContent>
		<div class="d-flex flex-column align-center justify-space-between">
			<div class="d-flex flex-column align-center">
				<MudText Typo="Typo.h2" Color="Color.Error">Out of date</MudText>
				<MudText>The browser in your device is out of date or unsupported and may cause the app to not work correctly or at all. At least version @(MinWebViewVersion) of the system WebView is advised. Please close the app, update your device, and try again.</MudText>

				<MudLink Href="https://github.com/danielchalmers/JournalApp/issues/new">My device is up-to-date! Send feedback...</MudLink>
			</div>

			<MudButton Variant="Variant.Filled" OnClick="Close" FullWidth Style="margin-top: 10em;">Ignore</MudButton>
		</div>
	</DialogContent>
</MudDialog>

@code {
	[CascadingParameter] MudDialogInstance MudDialog { get; set; }

	public static int MinWebViewVersion = 105; // Chromium is assumed as it's the default WebView on Android and Windows.

	public static bool ShouldShowHurdle()
	{
		return false;
	}

	public void Close()
	{
		MudDialog.Cancel();
	}
}