@namespace JournalApp
@page "/"
@inherits LayoutComponentBase
@inject ApplicationDbContext db
@inject ISnackbar SnackbarService

<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudAppBar id="main-header" Color="Color.Primary" Fixed="false" Dense="true">
	<MudText>🙂 @ThisAssembly.AssemblyTitle</MudText>

	<MudSpacer />
</MudAppBar>

<div id="main-body">
	<div id="main-timeline">
		@{
			var day = db.Days.Single();
		}

		<div class="d-flex justify-center">
			<MudText Typo="Typo.h4">@day.Date.ToString("ddd, MMM d")</MudText>
		</div>

		<MudStack>
			@foreach (var group in day.DataPoints.GroupBy(x => x.GetType()))
			{
				<MudDivider Style="margin-top:1em;margin-bottom:1em;" />

				@foreach (var dataPoint in group)
				{
					<MudText Align="Align.Center"><b>@dataPoint.Name</b></MudText>

					@if (dataPoint is SleepDataPoint sleepDataPoint)
					{
						<MudSlider @bind-Value="sleepDataPoint.Value" Variant="Variant.Filled" ValueLabel="true" Min="0" Max="24" Step="0.5m">@sleepDataPoint.Value</MudSlider>
					}
					else if (dataPoint is ScaleDataPoint scaleDataPoint)
					{
						<MudRating @bind-SelectedValue="scaleDataPoint.ScaleIndex" Size="Size.Large" />
					}
					else if (dataPoint is BoolDataPoint boolDataPoint)
					{
						<MudCheckBox @bind-Checked="boolDataPoint.Value" />
					}
					else if (dataPoint is NumberDataPoint numberDataPoint)
					{
						<MudNumericField @bind-Value="numberDataPoint.Value" />
					}
					else if (dataPoint is NoteDataPoint noteDataPoint)
					{
						<MudTextField @bind-Value="noteDataPoint.Value" Lines="4" Placeholder="What's on your mind?" />
					}
				}
			}
		</MudStack>
	</div>
</div>

@code {

}