@namespace JournalApp
@page "/"
@inject ApplicationDbContext db;

<h1>Hello, world!</h1>

Welcome to your new, single page, app.

<EditForm Model="this">
	<InputCheckbox @bind-Value="value" />
</EditForm>

<Button Type="@ButtonType.Primary" OnClick="@ShowModal">Hello World!</Button>
<ConfirmationDialog Visible="@visible" Model="@_model" />

@code {
	bool value
	{
		get => (bool)Preferences.Get("IsChecked", false);
		set => Preferences.Set("IsChecked", value);
	}

	Day _model;
	bool visible;

	void ShowModal()
	{
		_model = db.Days.OrderBy(x => x.Date).Last();

		visible = true;
	}
}