@namespace JournalApp
@page "/"
@inherits LayoutComponentBase
@inject ApplicationDbContext db
@inject ISnackbar SnackbarService

<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudAppBar id="main-header" Color="Color.Primary" Fixed="false" Dense="true">
	<MudText>@ThisAssembly.AssemblyTitle 🙂</MudText>

	<MudSpacer />
</MudAppBar>

<div id="main-body">
	<div id="main-timeline">
		@{
			var day = db.Days.Single();
		}

		<div class="d-flex justify-center">
			<MudText>@day.Date.ToString()</MudText>
		</div>

		<MudStack>
			@foreach (var group in day.DataPoints.GroupBy(x => x.GetType()))
			{
				<MudDivider />

				@foreach (var dataPoint in group)
				{
					<MudText>@dataPoint.Name</MudText>

					@if (dataPoint is NumberDataPoint numberDataPoint)
					{
						<MudSlider Value="@numberDataPoint.Value" Variant="Variant.Filled" ValueLabel="true" TickMarkLabel="true" />
					}
					else if (dataPoint is ScaleDataPoint scaleDataPoint)
					{
						<MudRating SelectedValue="scaleDataPoint.ScaleIndex" />
					}
					else if (dataPoint is BoolDataPoint boolDataPoint)
					{
						<MudCheckBox @bind-Checked="boolDataPoint.Value" />
					}
					else if (dataPoint is NoteDataPoint noteDataPoint)
					{
						<MudTextField @bind-Value="noteDataPoint.Value" Lines="4" Placeholder="What's on your mind?" DisableUnderLine="true" />
					}
				}
			}
		</MudStack>
	</div>
</div>

@code {

}