@namespace JournalApp
@page "/"

<h1>Hello, world!</h1>

Welcome to your new, single page, app.

<EditForm Model="this">
	<InputCheckbox @bind-Value="value" />
</EditForm>

<Button Type="@ButtonType.Primary" OnClick="@(()=>{ ModalVisible = true; })">Hello World!</Button>
<ConfirmationDialog Visible="@ModalVisible"/>

@code {
	bool value
	{
		get => (bool)Preferences.Get("IsChecked", false);
		set => Preferences.Set("IsChecked", value);
	}

	bool ModalVisible;
}