@namespace JournalApp
@page "/"
@inherits LayoutComponentBase
@inject ApplicationDbContext db

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudAppBar id="main-header" Color="Color.Primary" Fixed="false" Dense="true">
	<MudText>@ThisAssembly.AssemblyTitle 🙂</MudText>

	<MudSpacer />

	<MudMenu Color="Color.Secondary" StartIcon="@Icons.Material.Outlined.ArrowDropDown" Variant="Variant.Filled">
		<MudMenuItem OnClick="NewNote" Icon="@Icons.Material.Outlined.Add">New note</MudMenuItem>
	</MudMenu>
</MudAppBar>

<div id="main-body">
	<MudStack id="main-timeline">
		@foreach (var context in db.Entries.Where(e => !e.IsDeleted))
		{
			<MudCard>
				@if (!@context.IsDeleted)
				{
					<EntryView Model="@context" />
				}
			</MudCard>
		}
	</MudStack>
</div>

@code {
	async Task NewNote()
	{
		await db.Entries.AddAsync(new() { Date = DateTime.Now });
		await db.SaveChangesAsync();
	}
}