@namespace JournalApp
@page "/"
@inject ApplicationDbContext db;

@*TODO: DynamicComponent ??*@
<AntList DataSource="@db.Entries">
	<Header>Your journal</Header>
	<ChildContent>
		@if (@context.GetType() == typeof(Note))
		{
			<ListItem>
				<NoteCard Note="@((Note)context)" />
			</ListItem>
		}
		else
		{
			<ListItem>
				<p>@(context.Date.ToString())</p>
			</ListItem>
		}
	</ChildContent>
	<Footer>
		<div>
			You've reached the end <BackTop />
		</div>
	</Footer>
</AntList>

@code {
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
	}
}