@namespace JournalApp
@page "/"
@inherits LayoutComponentBase
@inject ApplicationDbContext db
@inject ISnackbar SnackbarService

<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudAppBar id="main-header" Color="Color.Primary" Fixed="false" Dense="true">
	<MudText>🙂 @ThisAssembly.AssemblyTitle</MudText>

	<MudSpacer />
</MudAppBar>

<div id="main-body">
	<div id="main-timeline">
		<div class="d-flex justify-center">
			<MudText Typo="Typo.h4">@day.Date.ToString("ddd, MMM d")</MudText>
		</div>

		<MudDivider />

		<MudStack>
			<DataPointGroup DataPoints="day.DataPoints" />

			<MudDivider />

			<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Comment" OnClick="NewNote">New note</MudButton>

			<DataPointGroup DataPoints="day.Notes" />
		</MudStack>
	</div>
</div>

@code {
	Day day;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		day = db.Days.Single();
	}

	async Task NewNote()
	{
		day.Notes.Add(new NoteDataPoint { Name = $"Note at {DateTimeOffset.Now:h:mm:ss tt}" });

		await db.SaveChangesAsync();
	}
}