.ja-toggle-group {
  position: relative;
  padding-left: 8px;
  border-radius: var(--mud-default-borderradius);
  overflow: hidden;
}

::deep .ja-toggle-group::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  bottom: 6px;
  width: 4px;
  border-radius: 999px;
  background-color: rgba(234, 184, 214, 1);
  transition: background-color 150ms ease-in-out;
}

::deep .ja-toggle-group .mud-toggle-item {
  border: none;
  border-radius: 0;
}
