@namespace JournalApp

@foreach (var category in Categories.OrderBy(x => x.SequenceNumber))
{
	@foreach (var point in category.DataPoints.Where(x => x.Day == Day))
	{
		<div class="data-point-view">
			<MudText Style="width:9em" Align="Align.Right">@category.Name:</MudText>
			<DataPointView DataPoint="point" />
		</div>
	}
}

@code {
	[Parameter]
	public Day Day { get; set; }

	[Parameter]
	public IEnumerable<DataPointCategory> Categories { get; set; }
}