@namespace JournalApp
@inherits Card
@inject ApplicationDbContext db;

<Card>
	<TitleTemplate>
		<div>
			<Icon Type="file-text" /> @(Note.Date.ToString())
		</div>
	</TitleTemplate>
	<ChildContent>
		<TextArea MinRows="4" MaxRows="4" Bordered="false" Placeholder="What's on your mind?" @bind-Value="Note.Text" />
		<NoteEditor Visible="@EditorVisible" Model="@Note" />
	</ChildContent>
	<ActionTemplate>
		<CardAction>
			<Icon Type="form" OnClick="@(() => ShowModal())" />
		</CardAction>
	</ActionTemplate>
</Card>

@code {
	bool EditorVisible;

	[Parameter]
	public Note Note { get; set; }

	void ShowModal()
	{
		EditorVisible = true;
	}
}