@namespace JournalApp
@inject IDialogService DialogService
@inject KeycodeService KeycodeService

<MudDialog DefaultFocus="DefaultFocus.None" OnBackdropClick="Submit">
	<TitleContent>
		<div class="page-header">
			<MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="Submit" />

			<MudText Typo="Typo.h6">Safety Plan</MudText>
		</div>
	</TitleContent>

	<DialogContent>
		<div style="display:flex; flex-direction:column; gap:1.5em;">
			<div>
				<MudText Typo="Typo.h5">Warning Signs</MudText>
				<MudTextField T="string" @bind-Text="Plan.WarningSigns" Lines="5" HelperText="Warning signs that a crisis may be developing" Placeholder="thoughts, images, mood, situation, behavior" />
			</div>

			<div>
				<MudText Typo="Typo.h5">Coping Strategies</MudText>
				<MudTextField T="string" @bind-Text="Plan.CopingStrategies" Lines="5" HelperText="Ways to distract myself without contacting another person" Placeholder="relaxation technique, physical activity" />
			</div>

			<div>
				<MudText Typo="Typo.h5">Social Distractions</MudText>
				<MudTextField T="string" @bind-Text="Plan.SocialDistractions" Lines="3" HelperText="People and social settings that provide distraction" />
			</div>

			<div>
				<MudText Typo="Typo.h5">Social Contacts</MudText>
				<MudTextField T="string" @bind-Text="Plan.SocialContacts" Lines="3" HelperText="People whom I can ask for help" />
			</div>

			<div>
				<MudText Typo="Typo.h5">Professional Contacts</MudText>
				<MudTextField T="string" @bind-Text="Plan.ProfessionalContacts" Lines="5" HelperText="Professionals or agencies I can contact during a crisis" />
			</div>

			<div>
				<MudText Typo="Typo.h5">Environment Changes</MudText>
				<MudTextField T="string" @bind-Text="Plan.EnvironmentChanges" Lines="3" HelperText="Ways to make the environment safer" />
			</div>

			<div>
				<MudText Typo="Typo.h5">Purpose</MudText>
				<MudTextField T="string" @bind-Text="Plan.Purpose" Lines="3" HelperText="Things that are most important to me and worth living for" />
			</div>
		</div>
	</DialogContent>
</MudDialog>

@code {
	[CascadingParameter] MudDialogInstance MudDialog { get; set; }

	[Parameter]
	public SafetyPlan Plan { get; set; }

	protected override void OnInitialized()
	{
		base.OnInitialized();

		KeycodeService.SubscribeOnceToBackButtonPressed(() => Submit());
	}

	void Submit()
	{
		MudDialog.Close(DialogResult.Ok(true));
	}
}