@namespace JournalApp
@page "/worksheets"
@implements IDisposable
@inject ILogger<WorksheetsPage> logger
@inject IJSRuntime JSRuntime
@inject KeyEventService KeyEventService
@inject NavigationManager NavigationManager

<div class="page-title">
	<div class="page-header">
		<MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Title="Back" OnClick="Close" />

		<MudText Typo="Typo.h6">Worksheets</MudText>
	</div>
</div>

<div class="page-body">
	<div class="worksheet-group-list">
		<div class="worksheet-group">
			<MudText Typo="Typo.h4">Table of Contents</MudText>

			<div class="worksheet-group-toc">
				@foreach (var group in WorksheetGroups)
				{
					@if (!string.IsNullOrEmpty(group.Key))
					{
						<div class="worksheet-group-toc-item">
							<MudLink OnClick="async () => await ScrollToGroup(MarkupUtil.ToClassName(group.Key))">• @group.Key</MudLink>
						</div>
					}
				}
			</div>
		</div>

		@foreach (var group in WorksheetGroups)
		{
			<div class="worksheet-group" id="worksheet-group-key-@(MarkupUtil.ToClassName(group.Key))">
				@if (!string.IsNullOrEmpty(group.Key))
				{
					<div class="d-flex align-center">
						<MudText Typo="Typo.h4">@group.Key</MudText>
						<MudIconButton Icon="@Icons.Material.Filled.ArrowUpward" OnClick="ScrollToTop" title="Scroll to top" />
					</div>
				}

				<div class="worksheet-group-items">
					@foreach (var ws in group)
					{
						<WorksheetView Worksheet="ws" />
					}
				</div>
			</div>
		}
	</div>
</div>

@code {
	public IEnumerable<IGrouping<string, Worksheet>> WorksheetGroups => WorksheetData.AllWorksheets.GroupBy(x => x.Category);

	protected override void OnInitialized()
	{
		base.OnInitialized();

		KeyEventService.Entered(() => Close());
	}

	void Close()
	{
		NavigationManager.NavigateTo("/", false, true);
	}

	async Task ScrollToTop()
	{
		logger.LogDebug("Scrolling to top");
		await JSRuntime.InvokeVoidAsync("scrollToAbsoluteTop");
	}

	async Task ScrollToGroup(string key)
	{
		logger.LogDebug($"Scrolling to group <{key}>");
		await JSRuntime.InvokeVoidAsync("scrollToTopOfNestedElement", ".worksheet-group-list", $"#worksheet-group-key-{key}");
	}

	public void Dispose()
	{
		KeyEventService.Exited();
	}
}