@namespace JournalApp

<section class="@($"safety-plan-item safety-plan-item-{MarkupUtil.ToClassName(Title)}")">
    <MudText>@Subtitle</MudText>

    <MudTextField T="string" @bind-Text="Text" Placeholder="@Placeholder"
                  Typo="Typo.body2" Variant="Variant.Outlined" Immediate Underline="false"
                  AutoGrow Lines="3" MaxLines="10" />
</section>

@code {
    string _text;

    [CascadingParameter] IMudDialogInstance MudDialog { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Subtitle { get; set; }

    [Parameter]
    public string Placeholder { get; set; }

    [Parameter]
    public string Text
    {
        get => _text;
        set
        {
            if (_text == value)
                return;

            _text = value;
            TextChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<string> TextChanged { get; set; }
}
