@namespace JournalApp
@using CommunityToolkit.Maui.Storage;
@using Append.Blazor.Printing
@inject AppDbContext db
@inject ILogger<TrendsDialog> logger
@inject IDialogService DialogService
@inject PageService PageService
@inject IPrintingService PrintingService

<MudDialog DefaultFocus="DefaultFocus.None">
	<TitleContent>
		<div class="page-header">
			<MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Title="Close" OnClick="Close" />

			<MudText Typo="Typo.h6">Trends</MudText>

			<MudSpacer />

			<MudIconButton Icon="@Icons.Material.Filled.Print" Title="Print" OnClick="Print" />
		</div>

		<TrendsSwitcher @bind-SelectedDates="SelectedDates" OpenToDate="OpenToDate" />
	</TitleContent>

	<DialogContent>
		<div id="trends-category-list">
			@foreach (var group in db.Categories.GroupBy(x => x.Group))
			{
				foreach (var category in group.Where(x => x.Enabled && !x.Deleted).OrderBy(x => x.Index))
				{
					<div class="trends-category">
						<MudText Typo="Typo.h6">
							@((string.IsNullOrEmpty(category.Name) ? category.Group : category.Name) + (category.Type == PointType.Medication ? $" ({category.MedicationUnit})" : string.Empty))
						</MudText>

						<TrendCategoryView Category="category" Dates="SelectedDates" PointsByDay="_allPoints[category]" />
					</div>
				}
			}
		</div>
	</DialogContent>
</MudDialog>

@code {
	Dictionary<DataPointCategory, IReadOnlyDictionary<int, IReadOnlyList<DataPoint>>> _allPoints = new();
	IReadOnlyList<DateOnly> _selectedDates;

	[CascadingParameter] MudDialogInstance MudDialog { get; set; }

	[Parameter]
	public DateOnly OpenToDate { get; set; }

	public IReadOnlyList<DateOnly> SelectedDates
	{
		get => _selectedDates;
		set
		{
			_selectedDates = value;
			logger.LogInformation($"Changed selected dates <{value[0]}..{value[^1]}>");

			// Group data points by category and its points of the selected month.
			_allPoints.Clear();
			foreach (var category in db.Categories.Where(x => x.Enabled && !x.Deleted).OrderBy(x => x.Type))
			{
				var dayPoints = new Dictionary<int, IReadOnlyList<DataPoint>>();

				foreach (var date in value)
				{
					var points = category.Points.Where(x => !x.Deleted && x.Category == category && x.Type == category.Type && x.Day.Date == date);
					dayPoints.Add(date.Day, points.ToList());
				}

				_allPoints.Add(category, dayPoints);
			}
		}
	}

	protected override void OnInitialized()
	{
		base.OnInitialized();

		PageService.EnteredPage(() => Close());

		logger.LogInformation($"Opened to {OpenToDate}");
	}

	void Close()
	{
		PageService.CloseDialog(MudDialog, true);
	}

	public async Task Print()
	{
		logger.LogInformation("Opening print dialog");

		await PrintingService.Print("trends-category-list", PrintType.Html);
	}
}