.trends-category-list {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.trends-category {
	display: flex;
	flex-direction: column;
}

::deep .trend-view {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
