@namespace JournalApp.Trends

	<div class="trend-view">
		@switch (Category.Type)
		{
			case DataType.Mood:
				foreach (var (day, point) in DayPoints)
				{
					<MudText Typo="Typo.caption">@(point?.Mood ?? day.ToString())</MudText>
				}
				break;
		}
	</div>

@code {
	[Parameter]
	public DataPointCategory Category { get; set; }

	[Parameter]
	public IReadOnlyDictionary<int, DataPoint> DayPoints { get; set; }

	public static IReadOnlyCollection<DataType> SupportedTypes { get; } = new[] { DataType.Mood };
}
