@namespace JournalApp.Trends

<div class="trends-container">
	@foreach (var (category, dayPoints) in Points)
	{
		<MudText Typo="Typo.h6">
			@category.Name
		</MudText>

		<div class="trend-view">
			@switch (PointType)
			{
				case PointType.Mood:
					foreach (var (day, point) in dayPoints)
					{
						<MudText Typo="Typo.caption">@(point?.Mood ?? day.ToString())</MudText>
					}
					break;
			}
		</div>
	}
</div>

@code {
	[Parameter]
	public PointType PointType { get; set; }

	[Parameter]
	public IReadOnlyDictionary<DataPointCategory, IReadOnlyDictionary<int, DataPoint>> Points { get; set; }
}
