@namespace JournalApp
@inject ILogger<CalendarView> logger
@inject PreferenceService PreferenceService

<div class="calendar-view">
    @foreach (var month in GridYear.GridMonths)
    {
        <CalendarMonth Month="month" OpenToDate="OpenToDate" DayClicked="DayClicked" />
    }
</div>

@code {
    [Parameter]
    public EventCallback<DateOnly?> DayClicked { get; set; }

    [Parameter]
    public EventCallback<int> PreviousMonthClicked { get; set; }

    [Parameter]
    public EventCallback<int> NextMonthClicked { get; set; }

    [Parameter]
    public DateOnly OpenToDate { get; set; }

    [Parameter]
    public GridYear GridYear { get; set; }

    [Parameter]
    public EventCallback CalendarRendered { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            logger.LogDebug("Calendar rendered for the first time");
            await CalendarRendered.InvokeAsync();
        }
    }
}
