.calendar-month {
  display: flex;
  flex-direction: column;
  /*Half padding instead of gap to add space for the autoscroll*/
  padding-top: 16px;
}

::deep .calendar-month-grid {
  display: flex;
  flex-direction: column;
  padding: 0;
}

::deep .calendar-day-cell {
  display: flex;
  flex: 1 1 0;
  margin: 2px;
  padding: 1%;
  min-width: 32px;
  max-width: 96px;
}

::deep .calendar-day-current {
  outline: 2px dashed var(--mud-palette-text-primary);
}
