@namespace JournalApp

<div class="switcher">
    <MudIconButton Class="previous-button" Icon="@Icons.Material.Rounded.ArrowBackIos" aria-label="Previous year" OnClick="PreviousYear" />

    <div class="switcher-header">
        <MudButton Class="year-button" OnClick="OnYearClicked">
            <MudText Typo="Typo.h5">@SelectedYear</MudText>
        </MudButton>
    </div>

    <MudIconButton Class="next-button" Icon="@Icons.Material.Rounded.ArrowForwardIos" aria-label="Next year" OnClick="NextYear" Disabled="@(SelectedYear >= DateTime.Now.Year)" />
</div>

@code {
    int _selectedYear;

    [Parameter]
    public int SelectedYear
    {
        get => _selectedYear;
        set
        {
            if (_selectedYear == value)
                return;

            _selectedYear = value;
            SelectedYearChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<int> SelectedYearChanged { get; set; }

    [Parameter]
    public EventCallback YearClicked { get; set; }

    Task OnYearClicked()
    {
        SelectedYear = DateTime.Now.Year;
        return YearClicked.InvokeAsync();
    }

    public void NextYear()
    {
        SelectedYear++;
        StateHasChanged();
    }

    public void PreviousYear()
    {
        SelectedYear--;
        StateHasChanged();
    }
}
