@namespace JournalApp

<div class="calendar-week-row calendar-week-header">
    @foreach (var day in DaysOfWeek)
    {
        <div class="calendar-day-cell calendar-day-header">
            <b>@(day.ToString()[0..2])</b>
        </div>
    }
</div>

@code {
    [Parameter]
    public IReadOnlyList<DayOfWeek> DaysOfWeek { get; set; }
}
