.calendar-day-content {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  transition: transform 0.1s ease-out;
}

.calendar-day-content:active {
  transform: scale(0.95);
}

.calendar-day-with-mood {
  color: #3A2F36;
}

.calendar-day-number {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
}

.calendar-day-emoji {
  position: absolute;
  bottom: 0;
  right: 0;
}
