@namespace JournalApp

<div class="switcher">
	<MudIconButton Icon="@Icons.Material.Filled.ArrowBackIos" Title="Previous year" OnClick="PreviousYear" />

	<div class="switcher-header">
		<MudButton OnClick="() => SelectedYear = DateTime.Now.Year">
			<MudText Typo="Typo.h5">@SelectedYear</MudText>
		</MudButton>
	</div>

	<MudIconButton Icon="@Icons.Material.Filled.ArrowForwardIos" Title="Next year" OnClick="NextYear" Disabled="@(SelectedYear >= DateTime.Now.Year)" />
</div>

@code {
	int _selectedYear;

	[Parameter]
	public int SelectedYear
	{
		get => _selectedYear;
		set
		{
			_selectedYear = value;
			SelectedYearChanged.InvokeAsync(value);
		}
	}

	[Parameter]
	public EventCallback<int> SelectedYearChanged { get; set; }

	public void NextYear()
	{
		SelectedYear++;
		StateHasChanged();
	}

	public void PreviousYear()
	{
		SelectedYear--;
		StateHasChanged();
	}
}
