@namespace JournalApp
@using Color = Microsoft.Maui.Graphics.Color;
@using MudBlazor.Utilities
@inject IDbContextFactory<AppDbContext> dbcf
@inject ILogger<MoodGridDialog> logger
@inject IDialogService DialogService
@inject IScrollManager ScrollManager
@inject IJSRuntime JSRuntime
@inject PageService PageService

<MudDialog DefaultFocus="DefaultFocus.Element">
	<TitleContent>
		<div class="page-header">
			<MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Title="Close" OnClick="Close" />

			<MudText Typo="Typo.h6">Mood Grid</MudText>

			<MudSpacer />

			<MudIconButton Icon="@Icons.Material.Filled.Palette" Title="Pick color" OnClick="OpenColorPicker" />
		</div>

		<MoodGridSwitcher @ref="_switcher" @bind-SelectedYear="SelectedYear" @bind-SelectedYear:after="LoadYear" HeaderClicked="HeaderClicked" />
	</TitleContent>

	<DialogContent>
		@if (_gridYear != null)
		{
			<MoodGridCalendar MoodColors="MoodColors" GridYear="_gridYear.Value" OpenToDate="OpenToDate"
							CalendarLoaded="ScrollToOpenToDate" DayClicked="@(d => Close(d))" 
							PreviousMonthClicked="PreviousMonth" NextMonthClicked="NextMonth" />
		}
	</DialogContent>
</MudDialog>

@code {
	MoodGridSwitcher _switcher;
	DataPointCategory _moodCategory;
	GridYear? _gridYear = null;
	Task _loadYearTask;
	[CascadingParameter] MudDialogInstance MudDialog { get; set; }

	[Parameter]
	public DateOnly OpenToDate { get; set; }

	public int SelectedYear { get; set; }

	private string MoodPalettePreference
	{
		get
		{
			var palette = Preferences.Get("mood_palette", null);

			if (string.IsNullOrEmpty(palette))
				palette = "#6bdbe7"; // Tetradic to our primary purple.

			return palette;
		}
	}

	public MudColor PrimaryColor
	{
		get => new MudColor(MoodPalettePreference);
		set => Preferences.Set("mood_palette", value.Value[..^2]);
	}

	public IReadOnlyDictionary<string, string> MoodColors { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		PageService.EnteredPage(() => Close());

		logger.LogInformation($"Opened to {OpenToDate}");
		SelectedYear = OpenToDate.Year;

		GenerateColors();

		_loadYearTask = LoadYear();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);

		if (firstRender)
		{
			if (!_loadYearTask.IsCompleted)
			{
				logger.LogDebug("Year wasn't loaded before render so we have to render again");
				await _loadYearTask;
				StateHasChanged();
			}
		}
	}

	async Task ScrollToMonth(int month)
	{
		logger.LogDebug($"Scrolling to month {month}");

		// TODO: Unsure why we need two calls.
		await ScrollManager.ScrollToTopAsync($"#mood-grid-month-{month}", ScrollBehavior.Smooth);
		await JSRuntime.InvokeVoidAsyncIgnoreErrors("scrollToNestedElement", ".mud-dialog", $"#mood-grid-month-{month}");
	}

	async Task ScrollToOpenToDate() => await ScrollToMonth(OpenToDate.Month);

	async Task HeaderClicked() => await ScrollToMonth(DateTime.Now.Month);

	async Task PreviousMonth(int month)
	{
		if (month == 1)
		{
			_switcher.PreviousYear();

			await ScrollToMonth(12);
		}
		else
		{
			await ScrollToMonth(month - 1);
		}
	}

	async Task NextMonth(int month)
	{
		if (month == 12)
		{
			_switcher.NextYear();

			await ScrollToMonth(1);
		}
		else
		{
			await ScrollToMonth(month + 1);
		}
	}

	async Task LoadYear()
	{
		logger.LogDebug($"Loading year {SelectedYear}");
		var sw = Stopwatch.StartNew();
		var tomorrow = DateOnly.FromDateTime(DateTime.Now).Next();
		await using var db = await dbcf.CreateDbContextAsync();

		_moodCategory ??= await db.Categories.SingleOrDefaultAsync(x => x.Guid == new Guid("D90D89FB-F5B9-47CF-AE4E-3EC0D635E783"));
		logger.LogDebug($"Using mood category <{_moodCategory}>");

		// Group all mood points by their dates.
		var moodPointsByDate = await db.Days
			.Select(x => new { Date = x.Date, DataPoints = x.Points })
			.Where(x => x.Date.Year == SelectedYear && x.Date <= tomorrow)
			.ToDictionaryAsync(x => x.Date, x => x.DataPoints.Single(x => x.Category.Guid == _moodCategory.Guid));
		logger.LogDebug($"Found {moodPointsByDate.Count} mood points");

		_gridYear = new GridYear(SelectedYear, System.Globalization.CultureInfo.CurrentCulture, moodPointsByDate);
		logger.LogDebug("Created grid year");

		sw.Stop();
		logger.LogInformation($"Loaded {SelectedYear} in {sw.ElapsedMilliseconds}ms");
	}

	async Task OpenColorPicker()
	{
		logger.LogInformation("Opening color picker");

		if (await ColorPickerDialog.ShowDialog(DialogService, PrimaryColor) is MudColor selectedColor)
		{
			PrimaryColor = selectedColor;
			GenerateColors();
			StateHasChanged();
		}
	}

	void GenerateColors()
	{
		var emojis = DataPoint.Moods.Where(x => x != "🤔").ToList();
		var primary = PrimaryColor.ToMauiColor();
		var complementary = primary.GetComplementary();

		var emojiColors = new Dictionary<string, string>();
		for (int i = 0; i < emojis.Count; i++)
		{
			var p = i / (emojis.Count - 1f);
			var c = ColorUtil.GetGradientColor(primary, complementary, p);

			emojiColors.Add(emojis[i], c.ToHex());
		}
		MoodColors = emojiColors;

		logger.LogInformation($"Palette: {string.Join(",", emojiColors)}");
	}

	void Close()
	{
		PageService.CloseDialog(MudDialog, true);
	}

	void Close(DateOnly? date)
	{
		if (date == null || date > DateOnly.FromDateTime(DateTime.Now).Next())
			return;

		PageService.CloseDialog(MudDialog, date);
	}
}