@namespace JournalApp
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<MudThemeProvider Theme="AppTheme" IsDarkMode />

<MudDialogProvider MaxWidth="MaxWidth.Medium"
				   NoHeader="false"
				   CloseButton="false"
				   CloseOnEscapeKey="false"
				   Position="DialogPosition.Center" />

<MudSnackbarProvider />

<div class="page">
	@Body
</div>

@code {
    MudTheme AppTheme { get; } = new()
		{
			PaletteDark = new PaletteDark() { TextDisabled = "#ffffffb2" },
			LayoutProperties = new() { AppbarHeight = "4em" },
		};

    protected override void OnInitialized()
    {
        base.OnInitialized();

        App.NewIntent += (s, e) =>
        {
            if (e != null)
				NavigationManager.NavigateTo($"/settings/{Convert.ToBase64String(Encoding.UTF8.GetBytes(e))}", forceLoad: true);
        };
	}
}