.category-view-compact {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.1em;
}

.category-view-edit-button {
	display: flex;
	flex-grow: 1;
	overflow-x: clip;
}

/* Moved to app.css because it doesn't apply in here for some reason.
	.category-view-edit-button > .mud-button {
		justify-content: start !important;
		flex-grow: 1 !important;
	}*/
