#trends-category-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 16px;
}

.trends-category {
  display: flex;
  flex-direction: column;
}

::deep .trend-view {
  padding: 8px;
  gap: 16px;
  background-color: var(--mud-palette-surface);
  border-radius: var(--mud-default-borderradius);
}
