@namespace JournalApp
@inject ILogger<WorksheetView> logger

<li class="worksheet-view">
    <MudLink Class="worksheet-view-title" OnClick="OnResourceClicked" Color="Color.Primary" aria-label="Open worksheet" StartIcon="@Icons.Material.Rounded.Link">
        @Worksheet.Title
    </MudLink>

    @if (!string.IsNullOrEmpty(Worksheet.Description))
    {
        <MudText Class="worksheet-view-description" Typo="Typo.body2">@Worksheet.Description</MudText>
    }
</li>

@code {
    [Parameter]
    public Worksheet Worksheet { get; set; }

    async Task OnResourceClicked()
    {
        logger.LogInformation($"Clicked <{Worksheet.Title}> and going to <{Worksheet.SourceUri}>");
        await Browser.Default.OpenAsync(Worksheet.SourceUri);
    }
}
