@namespace JournalApp
@inject ILogger<WorksheetView> logger

<li class="worksheet-view">
    <MudButton OnClick="OnResourceClicked" StartIcon="@Icons.Material.Rounded.Link" Color="Color.Primary" Disabled="@IsLinkDisabled">
        <MudText Typo="Typo.h5">@Worksheet.Title</MudText>
    </MudButton>

    @if (!string.IsNullOrEmpty(Worksheet.Description))
    {
        <MudText Typo="Typo.body1">@Worksheet.Description</MudText>
    }
</li>

@code {
    [Parameter]
    public Worksheet Worksheet { get; set; }

    [Parameter]
    public EventCallback ResourceClicked { get; set; }

    public bool IsLinkDisabled => string.IsNullOrWhiteSpace(Worksheet.SourceUri);

    async Task OnResourceClicked()
    {
        logger.LogInformation($"Clicked <{Worksheet.Title}> and going to <{Worksheet.SourceUri}>");
        await Browser.Default.OpenAsync(Worksheet.SourceUri);

        if (ResourceClicked.HasDelegate)
            await ResourceClicked.InvokeAsync();
    }
}
