.worksheet-group-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.worksheet-group {
  display: flex;
  flex-direction: column;
}

.worksheet-group-items {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.worksheet-group-toc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style-type: none;
}

.worksheet-group-toc-item {
  white-space: nowrap;
  align-items: start;
}

::deep .worksheet-view {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25em;
}
