@namespace JournalApp
@inject ILogger<WorksheetView> logger

<li class="worksheet-view">
	<MudLink Href="@Worksheet.SourceUri" Target="_blank" Style="display: inline-flex; align-items: center; gap: 8px;" Color="Color.Primary">
		<MudIcon Icon="@Icons.Material.Rounded.Link" Size="Size.Small" />
		<MudText Typo="Typo.h5">@Worksheet.Title</MudText>
	</MudLink>

	@if (!string.IsNullOrEmpty(Worksheet.Description))
	{
		<MudText Typo="Typo.body1">@Worksheet.Description</MudText>
	}
</li>

@code {
	[Parameter]
	public Worksheet Worksheet { get; set; }
}
