name: Deploy

on:
  workflow_dispatch:

jobs:
  android:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: ./.github/actions/full-build
        with:
          ENABLE_SIGNING: true
          RELEASE_KEYSTORE_BASE64: "${{ secrets.RELEASE_KEYSTORE_BASE64 }}"
          RELEASE_KEYSTORE_PASS: "${{ secrets.RELEASE_KEYSTORE_PASS }}"

      - uses: dotnet/nbgv@v0.4.1
        id: nbgv

      - name: Create GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: "v${{ steps.nbgv.outputs.SimpleVersion }}"
          artifacts: "publish/*.apk"
          allowUpdates: true
          removeArtifacts: true
          replacesArtifacts: true
          artifactErrorsFailBuild: true
          makeLatest: true
          generateReleaseNotes: true
          prerelease: ${{ !steps.nbgv.outputs.PublicRelease }}

      - name: Upload to Play Store
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: "${{ secrets.SERVICE_ACCOUNT_JSON }}"
          packageName: com.danielchalmers.journalapp
          releaseFiles: publish/*-Signed.aab
          track: beta
          status: completed
